In [1]:
#Hello World

In [2]:
from bs4 import BeautifulSoup as bs 
from splinter import Browser
import pandas as pd
import requests
import pymongo

In [3]:
#SplinterArithmeticError
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#NASA Latest news
Mars_News="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(Mars_News)

In [5]:
#HTML
html = browser.html
soupify = bs(html, "html.parser")

In [6]:
#Testing 
#body = soupify.find("div", class_ = "list text").text
#print (body)


#article_p1 = soupify.find("div", class_ = "article_teaser_body").text
#print (article_p1)

In [7]:
article_headline = soupify.find("li", class_= "slide").find("div", class_="content_title").text
article_initial_paragraph = soupify.find("div", class_ = "article_teaser_body").text
print (article_headline)
print (article_initial_paragraph)

AttributeError: 'NoneType' object has no attribute 'find'

In [8]:
# test_pull_using_long_title = soupify.find("li", class_="slide")
# print(test_pull_using_long_title)
# print("I cant believe it worked")

In [9]:
# article_headline = data.find("div", class_="content_title").text
# initial_paragraph = data.find("div", class_="article_teaser_body").text
# print(article_headline)
# print(initial_paragraph)

In [10]:
#JPL Mars Space Images

In [11]:
#Navigating to image path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser_visit = (featured_image_url)

In [13]:
html = browser.html
soup = bs(html, "html.parser")

In [27]:
print("https://www.jpl.nasa.gov")

https://www.jpl.nasa.gov

In [28]:
#Mars Facts

In [29]:
mars_facts_daily_url = "https://space-facts.com/mars/"

In [30]:
mars_facts_table = pd.read_html(mars_facts_daily_url)
print (mars_facts_table)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [31]:
the_factuals_about_mars_df = mars_facts_table[0]
the_factuals_about_mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
the_factuals_about_mars_df.columns = ["Name", "Description"]
the_factuals_about_mars_df

                   Name                    Description
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
#HTML Table String
the_factuals_about_mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Name</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
#Mars Hemis

In [22]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [23]:
# mars_hemis_homepage = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
# browser.visit (mars_hemis_homepage)

In [24]:
# html = browser.html
# soup = bs(html, "html.parser")
# mars_hemis_homepage =[]

In [25]:
#REVISE AND CLEAN UP
hems=['Cerberus Hemisphere Enhanced','Schiaparelli Hemisphere','Syrtis Major Hemisphere','Valles Marineris Hemisphere']
hems_url=[]

for info in hems: 
    home_url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    browser.visit(home_url)
    browser.is_element_present_by_text(info, wait_time=1)
    more_info_elem = browser.find_link_by_partial_text(info)
    more_info_elem.click()
    full_image_elem = browser.find_by_id('wide-image-toggle')
    full_image_elem.click()
    soup=bs(browser.html, 'html.parser')
    photo1=soup.body.find('img', class_='wide-image')
    photo_src=photo1['src']
    photo_url=f"https://astrogeology.usgs.gov {photo_src}"
    hems_url.append(photo_url1)

C:\Users\Boston\anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:493: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

NameError: name 'photo_url1' is not defined

In [ ]:
print (hems)

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": hems_url[0]},
    {"title": "Cerberus Hemisphere", "img_url":hems_url[1]},
    {"title": "Schiaparelli Hemisphere", "img_url": hems_url[2]},
    {"title": "Syrtis Major Hemisphere", "img_url": photo_url[3]},]

In [26]:
#Have to make look prettier
print (hemisphere_image_urls)

NameError: name 'hemisphere_image_urls' is not defined

In [ ]:
browser.quit()